html,
body {
    height: 100vh;
    min-height: 100vh;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background: #ffffff;
}

#login-page {
    width: 300px;
}

#register-page {
    width: 300px;
}

.card {
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
}